## <center><strong>Importing the <span style= 'color: #F87060'>Packeges</span>

In [1]:
import matplotlib
import joblib

import numpy              as np
import pandas             as pd
import seaborn            as sns
import polars             as pl
from shiny import render
import matplotlib.pyplot  as plt

from pandasql                import sqldf
from sklearn.preprocessing   import StandardScaler
from imblearn.over_sampling  import RandomOverSampler
from sklearn.preprocessing   import OneHotEncoder
from sklearn.model_selection import train_test_split

## <center><strong>Data cleaning with <span style= 'color: #F87060'>SQL querries</span>

In [2]:
df = pd.read_csv('../dataset/Loan dataset.csv')

In [3]:
# Removing Missing values
df = sqldf('''SELECT *, IFNULL(Gender, 'Unknown') AS Gender,
                        IFNULL(Married, 'No') AS Married,
                        IFNULL(Dependents, 0) AS Dependents,
                        IFNULL(Self_Employed, 0) AS Self_Employed,
                        IFNULL(Loan_Amount_Term, 360) AS Loan_Amount_Term,
                        IFNULL(CoapplicantIncome, 0) AS CoapplicantIncome
             FROM df
             WHERE Credit_History IS NOT NULL AND
                   LoanAmount     IS NOT NULL;''')

df = df.loc[:, ~df.columns.duplicated(keep='last')].copy()

In [4]:
# Renaming columns
df = sqldf('''SELECT
                -- Loan_ID, We will drop the loan id column
                Gender,
                Married,
                Dependents,
                Education,
                Credit_History,
                Property_Area,
                Loan_Status,
                Self_Employed        AS Employment_Type,
                ApplicantIncome      AS Monthly_Income,
                CoapplicantIncome    AS Extra_Monthly_Income,
                LoanAmount           AS Loan_Amount,
                Loan_Amount_Term     AS Loan_Term
    FROM df
''')

In [5]:
# Editing inconsistent variabels
df = sqldf('''SELECT *,

                CASE
                    WHEN Credit_History = 0 THEN 'Bad'
                    WHEN Credit_History = 1 THEN 'Good'
                END AS Credit_History,
                
                CASE
                    WHEN Loan_Status = 'Y'  THEN 'Accepted'
                    WHEN Loan_Status = 'N'  THEN 'Rejected'
                END AS Loan_Status,

                CASE
                    WHEN Dependents = '3+' THEN '3'
                    ELSE Dependents
                END AS Dependents,

                CASE 
                    WHEN Employment_Type = 0 OR Employment_Type = 'No' THEN 'Not-Self-Employed'
                    ELSE 'Self-Employed'
                END AS Employment_Type,

                Loan_Amount*1000 AS Loan_Amount
                
            FROM df''')

df = df.loc[:, ~df.columns.duplicated(keep='last')].copy()

In [6]:
# Basic DType editing
df = df.astype({'Dependents'     : np.uint8,    'Loan_Term'            : np.uint8, 'Loan_Amount': np.uint16,
                'Monthly_Income' : np.uint16,   'Extra_Monthly_Income' : np.uint16,
                'Loan_Status'    : 'category',  'Credit_History'       : 'category', 
                'Property_Area'  : 'category',  'Employment_Type'      : 'category',
                'Education'      : 'category',  'Married'              : 'category', 'Gender': 'category'})

## <center><strong>Data <span style= 'color: #F87060'>Processing</span>

#### **Preprocessing the data**

In [7]:
df['Total_Monthly_Income'] = df['Monthly_Income'] + df['Extra_Monthly_Income']

In [8]:
df.columns

Index(['Gender', 'Married', 'Education', 'Property_Area', 'Monthly_Income',
       'Extra_Monthly_Income', 'Loan_Term', 'Credit_History', 'Loan_Status',
       'Dependents', 'Employment_Type', 'Loan_Amount', 'Total_Monthly_Income'],
      dtype='object')

In [9]:
numerical_cols = df.select_dtypes(include=np.number).columns

scaler = StandardScaler()

numerical_df                 = df[numerical_cols]
numerical_df[numerical_cols] =  scaler.fit_transform(numerical_df)

C:\Users\FreeComp\AppData\Local\Temp\ipykernel_4196\3792402351.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numerical_df[numerical_cols] =  scaler.fit_transform(numerical_df)

In [10]:
encoder = OneHotEncoder(sparse_output=False)

categorical_cols = df.select_dtypes('category').columns.drop(['Loan_Status'])
categorical_df   = encoder.fit_transform(df[categorical_cols])
categorical_cols = encoder.get_feature_names_out(categorical_cols)
categorical_df   = pd.DataFrame(categorical_df, columns=[col for col in categorical_cols])

categorical_df['Loan_Status'] = df['Loan_Status'].map({'Accepted': 1, 'Rejected': 0}) # Preventing target column from bieng one hot encoded

In [11]:
categorical_df.head()

,Gender_Female,Gender_Male,Gender_Unknown,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Credit_History_Bad,Credit_History_Good,Employment_Type_Not-Self-Employed,Employment_Type_Self-Employed,Loan_Status
0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0
1,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1
3,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1
4,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1

In [12]:
processsed_df = pd.concat([numerical_df, categorical_df], axis= 1)

#### **Preparing for ML**

In [13]:
X = processsed_df.drop(['Loan_Status'], axis= 1)
y = processsed_df['Loan_Status']

In [14]:
# ros = RandomOverSampler(random_state=42)

# X_resampled, y_resampled = ros.fit_resample(X.to_numpy(), y.to_numpy())

# X = pd.DataFrame(X_resampled, columns= X.columns)
# y = pd.Series(y_resampled, name= 'Loan_Status')

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)

## <center><strong>Data <span style= 'color: #F87060'>Saving</span>

In [16]:
X_train  .to_csv('cleaned-data/train-and-test-data/X-train.csv', index= False)
X_test   .to_csv('cleaned-data/train-and-test-data/X-test.csv', index= False)

y_train  .to_csv('cleaned-data/train-and-test-data/y-train.csv', index= False)
y_test   .to_csv('cleaned-data/train-and-test-data/y-test.csv', index= False)

df       .to_csv('cleaned-data/processsed-data.csv', index= False)

In [17]:
joblib.dump(scaler,  "../models/scaler.joblib")
joblib.dump(encoder, "../models/encoder.joblib")

['../models/encoder.joblib']